// fonts:
$mainFonts : 'Roboto Flex',
sans-serif;
$titleFonts : 'Caveat',
cursive;

// colors :
$mainColor : #B6C5F2;

// buttonColor :
$buttonRed : #BF5065;
$buttonBlue : #0424D9;

* {
}

#wrapper {
    max-width: 1920px;
}

// header{}



.navbar {
    background-color: $mainColor !important;

    .container-fluid {
        padding-right: 10em;
        padding-left: 10em;

        .nav-link {
            font-family: $titleFonts;
            font-size: 2em;
            padding-left: 2em;
        }

    }
}

main {
    #hero {
        padding-top: 75px;
        padding-bottom: 50px;

        #heroPhoto {
            background-image: url(/img/heroAccueil.jpg);
            background-position: center;
            background-size: cover;
            height: 50vh;

            h1 {
                font-family: $titleFonts;
                font-size: 60px;
            }

            p {
                font-size: 24px;
                font-style: italic;
            }

            .btnRed {
                background: $buttonRed;
                max-width: 10em;
            }
        }
    }

    #subHero {

        h2 {
            font-family: $titleFonts;
            font-size: 45px;
            font-style: bold;
            padding-bottom: 50px;

        }

        .subHeroCard {
            // width: 25rem;

            .card-body {
                .card-title {
                    font-size: 48px;
                    font-family: $titleFonts;
                }

                .card-text {
                    font-family: $mainFonts;
                }

                .btnBlue {
                    background: $buttonBlue;
                }

                .btnRed {
                    background: $buttonRed;
                }
            }
        }
    }
}

#about {
    padding-top: 75px;

    h2 {
        font-family: $titleFonts;
        font-size: 45px;
        font-style: bold;
        padding-bottom: 50px;
    }
        p {
            font-family: $mainFonts;
        }

}

footer {
    background-color: $mainColor;
}