// fonts:
$mainFonts : 'Roboto Flex',
sans-serif;
$titleFonts : 'Caveat',
cursive;

// colors :
$mainColor : #B6C5F2;

// buttonColor :
$buttonRed : #BF5065;
$buttonBlue : #0424D9;

#wrapper {
    max-width: 1440px;
}

// header{}



.navbar {
    background-color: $mainColor !important;
    margin-bottom: 50px;

    .container-fluid {
        padding-right: 10em;
        padding-left: 10em;

        .nav-link {
            font-family: $titleFonts;
            font-size: 2.5em;
            padding-left: 2em;
        }

    }
}

main {
    #hero {
        padding-bottom: 50px;

        #heroPhoto {
            background-image: url(/img/heroAccueil.jpg);
            background-position: center;
            background-size: cover;
            height: 60vh;

            h1 {
                font-family: $titleFonts;
                font-size: 48px;
                color: white;
                margin-left: 20px;
            }

            p {
                font-size: 24px;
                font-style: italic;
                color: white;
                margin-left: 20px;

            }

            .btnRed {
                background: $buttonRed;
                max-width: 10em;
                margin: 20px;
                font-size: 18px;
            }
        }
    }

    #subHero {

        h2 {
            font-family: $titleFonts;
            font-size: 45px;
            font-style: bold;
            padding-bottom: 50px;

        }

        .subHeroCard {

            img {
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 25px;
                object-fit: scale-down;
            }

            .card-body {
                background-color: #FDFCFA;

                .card-title {
                    font-size: 48px;
                    font-family: $titleFonts;
                }

                .card-text {
                    font-family: $mainFonts;
                    font-size: 18px;
                }

                .btnBlue {
                    background: $buttonBlue;
                    font-size: 18px;
                }

                .btnRed {
                    background: $buttonRed;
                    font-size: 18px;
                }
            }
        }
    }
}

#about {
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
        font-family: $titleFonts;
        font-size: 45px;
        font-style: bold;
        padding-bottom: 50px;
    }

    .card-header {
        background-color: $buttonBlue;
    }

    p {
        font-family: $mainFonts;
        font-size: 18px;
    }

    .btnBlue {
        background: $buttonRed;
        font-size: 18px;
    }

}

footer {
    background-color: $mainColor;
    margin-top: 50px;

    .social {
        font-size: 50px;
        padding: 10px;
    }
}

/* CONCEPT FILES 
================ */

#concept-wrapper {
    max-width: 1440px;
}

#concept-hero {

    #arrayTeaser {
        padding-top: 50px;
        padding-bottom: 100px;

        #conceptRightHero {
            object-fit: fit;
        }
    }
}

#concept-subHero {

    #functionalities {

        ul {
            list-style: none;

            li{
                font-size: 24px;
                padding:12px;

                i {
                    color: green;
                }
            }
        }
        .btnBlue {
            background-color: $buttonBlue;
            font-size: 18px;
        }
    }
}


/* CONTACT-WRAPPER 
================== */

#contact-wrapper {
    max-width: 1440px;
}

#contact-hero {

    #contactHeroPhoto {
        background-image: url(/img/heroContact.jpg);
        background-position: center;
        background-size: cover;
        height: 60vh;
        padding-bottom: 50px;

        #contactLeftHero {
            color: white;
            padding-left: 20px;
        }

        #contactRightHero {

            .btnRed {
                background-color: $buttonRed;
                font-size: 18px;
            }

            label {
                font-weight: bold;
                color: white;
            }
        }
    }
}